.body {
 background-color: #efefef;
 margin:0;
 padding: 0;
}

header {
	background-color: orange;
}
.card {
	border: 2px #cccccc solid;
	box-sizing: border-box;
	margin-top: 20px;

}
.summary {
	padding: 15px;
}
